.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid rgb(201, 201, 201);
  width: 90%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 10%;
  background: #e73650;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
